@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.helptext{
  visibility: hidden;
}

#imageFloater{
  float:right;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
    background:orange;
}
