{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}

<script>
function removeHelpText() {
  var parent = document.getElementsByClassName("registration-form")[0];
  var child = document.getElementByClassName("helptext");
  parent.removeChild(child);
}
</script>
<body>
    <div class="container-fluid p-5">
      <div class="row ">
        <div class="col-sm-6 offset-4">
          <form action="." method="post">
              {{ user_form.as_p }}
              {% csrf_token %}
              <p> <input type="submit" value="Create my account"></p>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
