{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="container-fluid p-5">
      <div class="row ">
        <div class="col-sm-6 offset-4">
          <form action="{% url "login" %}" method="post">
              {{ form.as_p }}
              {% csrf_token %}
              <input class="test" type="hidden" name="next" value="{{ next }}" />
              <p><input type="submit" value="Login"></p>
          </form>
          <p><a href="{% url "password_reset" %}">Forgot password?</a></p>
        </div>
      </div>
    </div>


{% endblock %}
